*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    min-width: 100vW;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}
.header{
    background-color: #00A884;
    height: 180px;
    display: flex;
    gap: 10px;
    padding-left: 180px;
    padding-top: 40px;
}
.footer{
    background-color: #DCDDDD;
    height: 1200px;
    background-color: #DDDEDD;
}
.middle{
    background-color: white;
    height: 1200px;
    width: 73vw;
    position: absolute;
    top: 90px;
    left: 180px;
    border-radius: 5px;
}
.header > img{
    height: 40px;
    width: 40px;
    border-radius: 60%;
}
.header > p{
    color: white;
}
.middle-top{
    display: flex;
    border: 1px solid #D1D7DB;
    margin-left: 100px;
    margin-top: 40px;
    /* margin: 40px 100px; */
    margin-right: 100px;
    padding: 30px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.middle-top > button{
    background-color: #008069;
    border-radius: 40px;
    padding: 2px 30px;
    border: none;
    color: white;
}
.middle-main{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.list-item > p{
    font-size: 30px;
    font-weight: lighter;
    color: #656668;
    margin-bottom: 30px;
}

.list-item > ol > li{
    list-style: none;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #656668;
}
/* .middle-main-link{
    border-top: 1px hidden black;
    
} */
.middle-main-link > a{
    text-decoration: none;
    color: #008069;
    padding: 30px 55px;
    padding-left: 55px;
    padding-top: 30px; 
    padding-bottom: 0px;
    font-size: 18px;
}
.middle-bottom{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
}
.middle-bottom > a{
    text-decoration: none;
    color: #008069;
    font-size: 13px;
}
.middle-bottom > video{
    height: 400px;
    width: 600px;
    object-fit: contain;
}
.middle-bottom > p{
    font-size: 30px;
    font-weight: lighter;
    color: #656668;
    margin-bottom: 20px;
    margin-top: 30px;
}
